.modelsDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 3rem;
  align-items: center;
  text-align: center;
  padding: 10rem 0;
  width: 110rem;
  margin: 0 auto;
}
@media (max-width: 1150px) {
  .modelsDiv {
    grid-template-columns: 1fr 1fr;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 800px) {
  .modelsDiv {
    grid-template-columns: 1fr;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.modelsBox {
  border: 1px solid #d5d5d5;
  border-radius: 0.3rem;
  display: flex;
  width: 35rem;
  flex-direction: column;
}
@media (max-width: 400px) {
  .modelsBox {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
.modelsBoxImg {
  width: 100%;
  height: auto;
  border-radius: 0.3rem;
}
.modelsBoxImg img {
  width: 100%;
  height: 27rem;
}
.modelsBoxDescr {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  color: #010103;
}
.modelsBoxDescrInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modelsBoxDescrName {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}
.modelsBoxDescrName p {
  font-size: 2.4rem;
  font-weight: 700;
}
.modelsBoxDescrName span {
  display: flex;
  gap: 0.4rem;
}
.modelsBoxDescrName span i {
  font-size: 1.4rem;
  color: #ffc933;
}
.modelsBoxDescrPrice {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.modelsBoxDescrPrice h4 {
  font-size: 2.8rem;
}
.modelsBoxDescrPrice p {
  font-size: 1.6rem;
}
.modelsBoxDescrDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  -moz-column-gap: 7rem;
  column-gap: 7rem;
  margin-top: 2.5rem;
  margin: 2rem auto;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #c6c6c6;
}
.modelsBoxDescrDetails span {
  font-size: 1.8rem;
  font-weight: 500;
  color: #777777;
  text-align: left;
}
.modelsBoxDescrDetails span i {
  color: #010103;
}
.modelsBoxDescrBtn {
  background-color: #ff4d30;
  padding: 1.8rem 3rem;
  border-radius: 0.3rem;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  transition: all 0.3s;
  border: 2px solid #ff4d30;
  font-size: 1.8rem;
  cursor: pointer;
}
.modelsBoxDescrBtn:hover {
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.6);
  background-color: #fa4226;
}
.modelsBoxDescrBtn a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
