.bookingModal {
  opacity: 0;
  display: none;
  flex-direction: column;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 999999999999;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 83rem;
  height: 100vh;
  border: 2px solid white;
  background-color: rgb(255, 255, 255);
  padding-right: 2px;
  color: #010103;
}
@media (max-width: 800px) {
  .bookingModal {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .bookingModal {
    top: 50%;
  }
}
.modalTitle {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: #ff4d30;
  color: white;
  align-items: center;
}
.modalTitle h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
}
.modalTitle i {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.919);
  cursor: pointer;
  transition: all 0.2;
}
.modalTitle i:hover {
  color: white;
}
.modalMessage {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 3rem;
  background-color: #ffeae6;
}
.modalMessage h4 {
  font-size: 1.9rem;
  font-weight: 700;
  color: #ff4d30;
}
.modalMessage h4 i {
  font-size: 2.5rem;
}
.modalMessage p {
  font-size: 1.7rem;
  color: #777777;
  font-weight: 500;
  line-height: 1.6;
}
.modalCarInfo {
  background-color: white;
  padding: 3rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(119, 119, 119, 0.6235294118);
}
@media (max-width: 650px) {
  .modalCarInfo {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.modalDates {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.modalDates h5 {
  font-size: 1.8rem;
  color: #ff4d30;
}
.modalDates span {
  display: flex;
  gap: 1rem;
}
@media (max-width: 650px) {
  .modalDates span {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
  }
}
.modalDates span i {
  font-size: 1.8rem;
  padding-top: 0.2rem;
  color: #777777;
}
@media (max-width: 650px) {
  .modalDates span i {
    display: none;
  }
}
.modalDates span h6 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}
.modalDates span p {
  font-size: 1.6rem;
  color: #777777;
}
.modalModel {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (max-width: 650px) {
  .modalModel {
    margin-top: 3.5rem;
  }
}
.modalModel h5 {
  font-size: 1.8rem;
  color: #ff4d30;
}
.modalModel h5 span {
  color: #010103;
}
.modalModel img {
  width: 100%;
  height: auto;
}
.modalPersonInfo {
  padding: 3rem 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.modalPersonInfo h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #ff4d30;
  margin-bottom: 2rem;
}

.input-time {
  text-align: center;
  width: 8rem;
  font-size: 14px;
  cursor: pointer;
}

.info-form {
  display: flex;
  flex-direction: column;
}
.formCheckbox {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.6rem;
  color: #565454;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.formCheckbox input {
  width: 1.6rem;
  height: 1.6rem;
}
.form1col {
  grid-template-columns: 1fr !important;
}
.form2col,
.form1col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem 0;
}
@media (max-width: 650px) {
  .form2col,
  .form1col {
    grid-template-columns: 1fr;
  }
}
.form2col span,
.form1col span {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.form2col span label,
.form1col span label {
  font-size: 1.6rem;
  font-weight: 500;
  color: #777777;
}
.form2col span label b,
.form1col span label b {
  color: #ff4d30;
}
.form2col span input,
.form1col span input {
  padding: 14px 15px;
  background-color: #dbdbdb;
  color: #555;
  font-size: 1.5rem;
  font-weight: 500;
  outline: none;
  border: none;
}

.reserve-button {
  background-color: #dbdbdb;
  margin: 0 -3rem;
  padding: 3rem;
  text-align: right;
}
@media (max-width: 650px) {
  .reserve-button {
    text-align: center;
  }
}
.reserve-button button {
  font-size: 2.4rem;
  color: white;
  font-weight: 700;
  background-color: #ff4d30;
  border: 1px solid yellow;
  padding: 1.2rem 2rem;
  cursor: pointer;
  transition: all 0.2s;
}
.reserve-button button:hover {
  background-color: #fe3516;
}

.dates-div {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
