.planSection {
  background-color: #ffffff;
  padding: 5.3rem 0;
}

.planContainer {
  display: flex;
  flex-direction: column;
}
.planTitle {
  margin: 0 auto;
  text-align: center;
  color: #010103;
}
.planTitle h3 {
  font-size: 2.4rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
.planTitle h2 {
  font-size: 4.2rem;
  font-family: "Poppins", sans-serif;
  margin: 1.3rem 0 3rem 0;
}
.planBoxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 3.7rem;
  padding: 0 3rem;
}
@media (max-width: 1021px) {
  .planBoxes {
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
  }
}
@media (max-width: 800px) {
  .planBoxes {
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }
}
.planBox {
  text-align: center;
  padding: 1rem 6rem;
}
@media (max-width: 500px) {
  .planBox {
    padding: 1rem 1rem;
  }
}
.planBox img {
  width: 17rem;
  height: auto;
}
.planBox h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.planBox p {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: #706f7b;
  line-height: 1.43;
}
